<body>
	<script id="comments" type="text/x-handlebars-template">
		{{#each comments}}
			<div class="comment">
				<div class="picture">
					<i class="ion-person"></i>
				</div>
				<div class="body">
					<div class="caption">
						{{author}} - le {{datetime modified}}
					</div>
					<div class="content">
						{{comment}}
					</div>
				</div>
			</div>
		{{/each}}
	</script>
</body>
