<body>
	<script id="filemanager-form" type="text/x-handlebars-template">
		{{#if directories}}
			<h2>Dossiers</h2>
			<ul class="list">
				{{#each directories}}
					<li id="{{id}}" class="{{mimetype}}" data-comments="{{comments}}" data-author="{{author}}" data-modified="{{modified}}" data-size="{{size}}" data-mimetype="{{mimetype}}">
						<div class="icon">{{icon mimetype}}</div>
						<div class="info"><i class="ion-information-circled"></i></div>
						<div class="name">{{text}}</div>
					</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if files}}
			<h2>Fichiers</h2>
			<ul class="list">
				{{#each files}}
					<li id="{{id}}" class="{{mimetype}}" data-comments="{{comments}}" data-author="{{author}}" data-modified="{{modified}}" data-size="{{size}}" data-mimetype="{{mimetype}}">
						<div class="icon">{{icon mimetype}}</div>
						<div class="info"><i class="ion-information-circled"></i></div>
						<div class="name">{{text}}</div>
					</li>
				{{/each}}
			</ul>
		{{/if}}
		{{#ifBothEmpty directories files}}
			<div class="emptyFolder">Dossier vide</div>
		{{/ifBothEmpty}}
	</script>
</body>
