<body>
	<script id="infoView" type="text/x-handlebars-template">
		<header>
			<div class="left" id="close">
				<i class="ion-ios-arrow-left" style="font-size: 1.3rem;"></i>
				<div>{{parent}}</div>
			</div>
		</header>
		<section class="view">
			<div class="ressource">
				{{icon mimetype}} {{text}}
			</div>
			<div class="tabSelector">
				<div class="selected" data-target="details">
					<i class="ion-information-circled"></i>
					<div>Détails</div>
				</div>
				<div data-target="history">
					<i class="ion-network"></i>
					<div>Historique</div>
				</div>
				<div data-target="comments">
					<i class="ion-chatboxes"></i>
					<div>Commentaires</div>
				</div>
			</div>
			<div class="tab" id="tab-details">
				<h3>Type</h3>
				<div>{{mimetype}}</div>
				<h3>Taille</h3>
				<div>{{filesize size}}</div>
				<h3>Emplacement</h3>
				<div>{{path}}</div>
				<h3>Modification</h3>
				<div>Modifié le {{datetime modified}} par {{author}}</div>
			</div>
			<div class="tab" id="tab-history">
				Besoin d'une autre maquette car la wireframe ne correspond pas au comportement actuel de l'historique.
			</div>
			<div class="tab" id="tab-comments">
				<div id="comments-container">Pas de commentaire pour le moment</div>
				<div class="new-comment">
					<div class="left">
						<textarea id="comment"></textarea>
					</div>
					<div class="right">
						<div id="send-comment">
							<div class="chevron">
								<i class="ion-chevron-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</script>
</body>
