<body>
	<script id="login-form" type="text/x-handlebars-template">
		<form class="form">
			<fieldset>
				<legend>Authentication</legend>
				<div class="form-item">
					<label for="flogin">Login</label>
					<input type="text" name="login" id="flogin" />
				</div>
				<div class="form-item">
					<label for="fpassword">Password</label>
					<input type="password" name="password" id="fpassword" />
				</div>
				<button class="button">Log-in</button>
			</fieldset>
		</form>
	</script>
</body>
