$folder: #29a9e6;
$document-text: #e3292c;
$image: #e9aa27;
$interface: #424242;

html, body, ul {
	margin: 0;
	padding: 0;
}

body {
	color: #333333;
	font-size: 16px;
	background-color: white;

	header {
		display: none;
	}
}

body.main {
	header {
		display: block;
	}

	section.view {
		top: 60px;
	}

	div.plus, div.file, div.folder {
		display: block;
	}
}

input[type=text], input[type=password] {
	width: 200px;
	padding: 10px;
	background-color: #ecf0f1;
	border: 0;
	border-radius: 0;
}

i {
	&.ion-ios-folder { color: $folder; }
	&.ion-document-text { color: $document-text; }
	&.ion-image { color: $image; }
}

.loader {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	text-align: center;
	opacity: 0.5;
	z-index: 5000;
	background-color: white;
	color: #888;
	display: none;

	i {
		position: absolute;
		font-size: 6rem;
		top: 50%;
		left: 50%;
		margin-top: -48px;
		margin-left: -31px;
	}
}

header {
	z-index: 1;
	background-color: $interface;
	color: white;
	height: 60px;
	line-height: 60px;
	position: relative;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	div.left {
		padding-left: 1.5rem;
		cursor: pointer;

		i {
			font-size: 2rem;
			width: 2rem;
			float: left;
		}

		div {
			font-size: 1.25rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	div.right {
		font-size: 1.75rem;
		float: right;
		padding-right: 0.6rem;
		width: 8.5rem;

		i::before {
			padding: 0 0.9rem;
		}
	}
}

#mainView {
	padding-bottom: 70px;
}

section.toolbar {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	height: 0;
	z-index: 500;
	background-color: transparentize($interface, 0.25);
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8rem;
	transition: all 250ms;
	
	&.shown {
		height: 65px;
	}

	> div {
		display: inline-block;
		margin: 3px 5px 0 5px;
		cursor: pointer;

		i {
			font-size: 2rem;
		}
	}

}

section.view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;

	form {
		margin: 40px;
		margin-top: 25%;

		.form-item {
			margin-bottom: 15px;
		}

		input, button {
			width: 100%;
			box-sizing: border-box;
		}

		fieldset {
			padding: 15px;
			padding-top: 5px;
		}
	}

	.emptyFolder {
		text-align: center;
		padding: 2rem;
	}

	h2 {
		text-transform: uppercase;
		font-size: 1rem;
		color: #969696;
		margin: 0;
		padding-top: 1.5rem;
		padding-bottom: 0.5rem;
		clear: both;

		&:first-of-type {
			padding-top: 0.5rem;
		}
	}
}

ul.list li {
	cursor: pointer;
	-webkit-touch-callout: none;
	user-select: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
	float: left;
	padding: 20px 15px;
	border-bottom: 1px solid #cacaca;
	position: relative;

	&:last-child {
		border-bottom: none;
	}

	div.icon, div.name, div.info {
		line-height: 2rem;
		vertical-align: middle;
	}

	div.icon {
		float: left;
		width: 2rem;
		margin-right: 0.5rem;
		text-align: center;
		font-size: 2rem;
	}

	div.name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.info {
		width: 1.75rem;
		font-size: 1.5rem;
		float: right;
		text-align: right;
		color: #d3d3d3;
	}
}

ul.list.grid {
	list-style-type: none;

	li {
		width: 50%;

		&:nth-child(odd) {
			border-right: 1px solid #cacaca;
		}

		&:nth-last-child(2):nth-child(odd) {
			border-bottom: none;
		}

		&:last-child:first-child {
			border-right: none;
		}
	}
}

div.rbutton {
	display: none;
	font-size: 26px;
	position: fixed;
	text-align: center;
	border-radius: 100px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 250ms;
	cursor: pointer;
	overflow: hidden;

	&, i {
		color: white !important;
	}

	&.shown {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	&:hover, &.shown:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	&.plus {
		z-index: 10;
		width: 56px;
		height: 56px;
		line-height: 56px;
		bottom: 16px;
		right: 16px;
		background-color: $interface;

		&:hover {
			background-color: darken($interface, 10%);
		}

		&.disappear {
			bottom: 44px;
			right: 44px;
			width: 0px;
			height: 0px;
		}
	}

	&.folder {
		width: 40px;
		height: 40px;
		line-height: 40px;
		bottom: 24px;
		right: 24px;
		background-color: $folder;

		&:hover {
			background-color: darken($folder, 10%);
		}

		&.shown {
			bottom: 136px;
			right: 24px;
		}
	}

	&.file {
		width: 40px;
		height: 40px;
		line-height: 40px;
		bottom: 24px;
		right: 24px;
		background-color: $document-text;

		&:hover {
			background-color: darken($document-text, 10%);
		}

		&.shown {
			bottom: 84px;
			right: 24px;
		}
	}
}

div.infoView {
	z-index: -1000;
	opacity: 0;
	transition: opacity 500ms;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&.visible {
		opacity: 1;
	}

	div.ressource {
		padding: 15px 10px;
		font-size: 1.25rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		i {
			margin-right: 0.5rem;
		}
	}

	div.tabSelector {
		border-top: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;
		margin: 10px 0;
		text-align: center;

		> div {
			display: inline-block;
			padding: 15px 5px;
			min-width: 4rem;
			cursor: pointer;

			&.selected {
				border-bottom: 3px solid #333333;
			}

			> i {
				font-size: 1.5rem;
			}

			> div {
				margin-top: 0.25rem;
			}
		}
	}

	div.tab {
		padding: 10px;
		font-size: 1rem;
		display: none;

		h3 {
			margin: 0;
			padding-bottom: 0.5rem;
			font-size: 1rem;
		}

		&#tab-details {
			> div {
				padding-bottom: 1rem;
			}
		}
	}

	div.comment {
		clear: both;
		padding-bottom: 1rem;

		&.right {
			float: right;

			div.picture {
				float: right;
				text-align: right;
			}

			div.body {
				text-align: right;
				margin-left: 0;
				margin-right: 2.5rem;
			}
		}

		div.picture {
			font-size: 2.5rem;
			float: left;
		}

		div.body {
			padding-top: 0.75rem;
			margin-left: 2.5rem;
		}

		div.caption {
			padding-bottom: 0.5rem;
		}

		div.content {
			border: 1px solid #cacaca;
			border-radius: 4px;
			padding: 8px;
			overflow: hidden;
			display: inline-block;
			max-width: 85%;
		}
	}

	div.new-comment {
		height: 5rem;
		margin-top: 2rem;
		border: 1px solid #cacaca;
		border-radius: 4px;
		overflow: hidden;
		box-sizing: border-box;

		div.left {
			float: left;
			padding: 6px;
			width: calc(100% - 4rem - 1px);
			box-sizing: border-box;

			textarea {
				box-sizing: border-box;
				resize: none;
				width: 100%;
				height: calc(5rem - 10px - 1px);
				border: none;

				&:focus {
					outline: none;
				}
			}
		}

		div.right {
			float: right;
			width: 4rem;
			height: 5rem;
			line-height: 5rem;
			vertical-align: middle;
			border-left: 1px solid #cacaca;
			font-size: 1.4rem;
			text-align: center;
			cursor: pointer;
			
			div.chevron {
				display: inline-block;
				border: 1px solid #cacaca;
				width: 2.75rem;
				height: 2.75rem;
				line-height: 2.75rem;
				border-radius: 50px;
				color: #cacaca;

				&:hover {
					color: white;
					background-color: #cacaca;
				}
			}
		}
	}
}

