html, body, ul {
  margin: 0;
  padding: 0; }

body {
  color: #333333;
  font-size: 16px;
  background-color: white; }
  body header {
    display: none; }

body.main header {
  display: block; }

body.main section.view {
  top: 60px; }

body.main div.plus, body.main div.file, body.main div.folder {
  display: block; }

input[type=text], input[type=password] {
  width: 200px;
  padding: 10px;
  background-color: #ecf0f1;
  border: 0;
  border-radius: 0; }

i.ion-ios-folder {
  color: #29a9e6; }

i.ion-document-text {
  color: #e3292c; }

i.ion-image {
  color: #e9aa27; }

.loader {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  text-align: center;
  opacity: 0.5;
  z-index: 5000;
  background-color: white;
  color: #888;
  display: none; }
  .loader i {
    position: absolute;
    font-size: 6rem;
    top: 50%;
    left: 50%;
    margin-top: -48px;
    margin-left: -31px; }

header {
  z-index: 1;
  background-color: #424242;
  color: white;
  height: 60px;
  line-height: 60px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  header div.left {
    padding-left: 1.5rem;
    cursor: pointer; }
    header div.left i {
      font-size: 2rem;
      width: 2rem;
      float: left; }
    header div.left div {
      font-size: 1.25rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  header div.right {
    font-size: 1.75rem;
    float: right;
    padding-right: 0.6rem;
    width: 8.5rem; }
    header div.right i::before {
      padding: 0 0.9rem; }

#mainView {
  padding-bottom: 70px; }

section.toolbar {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 0;
  z-index: 500;
  background-color: rgba(66, 66, 66, 0.75);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 250ms; }
  section.toolbar.shown {
    height: 65px; }
  section.toolbar > div {
    display: inline-block;
    margin: 3px 5px 0 5px;
    cursor: pointer; }
    section.toolbar > div i {
      font-size: 2rem; }

section.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white; }
  section.view form {
    margin: 40px;
    margin-top: 25%; }
    section.view form .form-item {
      margin-bottom: 15px; }
    section.view form input, section.view form button {
      width: 100%;
      box-sizing: border-box; }
    section.view form fieldset {
      padding: 15px;
      padding-top: 5px; }
  section.view .emptyFolder {
    text-align: center;
    padding: 2rem; }
  section.view h2 {
    text-transform: uppercase;
    font-size: 1rem;
    color: #969696;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    clear: both; }
    section.view h2:first-of-type {
      padding-top: 0.5rem; }

ul.list li {
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  float: left;
  padding: 20px 15px;
  border-bottom: 1px solid #cacaca;
  position: relative; }
  ul.list li:last-child {
    border-bottom: none; }
  ul.list li div.icon, ul.list li div.name, ul.list li div.info {
    line-height: 2rem;
    vertical-align: middle; }
  ul.list li div.icon {
    float: left;
    width: 2rem;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 2rem; }
  ul.list li div.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  ul.list li div.info {
    width: 1.75rem;
    font-size: 1.5rem;
    float: right;
    text-align: right;
    color: #d3d3d3; }

ul.list.grid {
  list-style-type: none; }
  ul.list.grid li {
    width: 50%; }
    ul.list.grid li:nth-child(odd) {
      border-right: 1px solid #cacaca; }
    ul.list.grid li:nth-last-child(2):nth-child(odd) {
      border-bottom: none; }
    ul.list.grid li:last-child:first-child {
      border-right: none; }

div.rbutton {
  display: none;
  font-size: 26px;
  position: fixed;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 250ms;
  cursor: pointer;
  overflow: hidden; }
  div.rbutton, div.rbutton i {
    color: white !important; }
  div.rbutton.shown {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  div.rbutton:hover, div.rbutton.shown:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  div.rbutton.plus {
    z-index: 10;
    width: 56px;
    height: 56px;
    line-height: 56px;
    bottom: 16px;
    right: 16px;
    background-color: #424242; }
    div.rbutton.plus:hover {
      background-color: #292929; }
    div.rbutton.plus.disappear {
      bottom: 44px;
      right: 44px;
      width: 0px;
      height: 0px; }
  div.rbutton.folder {
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 24px;
    right: 24px;
    background-color: #29a9e6; }
    div.rbutton.folder:hover {
      background-color: #178dc5; }
    div.rbutton.folder.shown {
      bottom: 136px;
      right: 24px; }
  div.rbutton.file {
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 24px;
    right: 24px;
    background-color: #e3292c; }
    div.rbutton.file:hover {
      background-color: #c0191c; }
    div.rbutton.file.shown {
      bottom: 84px;
      right: 24px; }

div.infoView {
  z-index: -1000;
  opacity: 0;
  transition: opacity 500ms;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  div.infoView.visible {
    opacity: 1; }
  div.infoView div.ressource {
    padding: 15px 10px;
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    div.infoView div.ressource i {
      margin-right: 0.5rem; }
  div.infoView div.tabSelector {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    margin: 10px 0;
    text-align: center; }
    div.infoView div.tabSelector > div {
      display: inline-block;
      padding: 15px 5px;
      min-width: 4rem;
      cursor: pointer; }
      div.infoView div.tabSelector > div.selected {
        border-bottom: 3px solid #333333; }
      div.infoView div.tabSelector > div > i {
        font-size: 1.5rem; }
      div.infoView div.tabSelector > div > div {
        margin-top: 0.25rem; }
  div.infoView div.tab {
    padding: 10px;
    font-size: 1rem;
    display: none; }
    div.infoView div.tab h3 {
      margin: 0;
      padding-bottom: 0.5rem;
      font-size: 1rem; }
    div.infoView div.tab#tab-details > div {
      padding-bottom: 1rem; }
  div.infoView div.comment {
    clear: both;
    padding-bottom: 1rem; }
    div.infoView div.comment.right {
      float: right; }
      div.infoView div.comment.right div.picture {
        float: right;
        text-align: right; }
      div.infoView div.comment.right div.body {
        text-align: right;
        margin-left: 0;
        margin-right: 2.5rem; }
    div.infoView div.comment div.picture {
      font-size: 2.5rem;
      float: left; }
    div.infoView div.comment div.body {
      padding-top: 0.75rem;
      margin-left: 2.5rem; }
    div.infoView div.comment div.caption {
      padding-bottom: 0.5rem; }
    div.infoView div.comment div.content {
      border: 1px solid #cacaca;
      border-radius: 4px;
      padding: 8px;
      overflow: hidden;
      display: inline-block;
      max-width: 85%; }
  div.infoView div.new-comment {
    height: 5rem;
    margin-top: 2rem;
    border: 1px solid #cacaca;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box; }
    div.infoView div.new-comment div.left {
      float: left;
      padding: 6px;
      width: calc(100% - 4rem - 1px);
      box-sizing: border-box; }
      div.infoView div.new-comment div.left textarea {
        box-sizing: border-box;
        resize: none;
        width: 100%;
        height: calc(5rem - 10px - 1px);
        border: none; }
        div.infoView div.new-comment div.left textarea:focus {
          outline: none; }
    div.infoView div.new-comment div.right {
      float: right;
      width: 4rem;
      height: 5rem;
      line-height: 5rem;
      vertical-align: middle;
      border-left: 1px solid #cacaca;
      font-size: 1.4rem;
      text-align: center;
      cursor: pointer; }
      div.infoView div.new-comment div.right div.chevron {
        display: inline-block;
        border: 1px solid #cacaca;
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        border-radius: 50px;
        color: #cacaca; }
        div.infoView div.new-comment div.right div.chevron:hover {
          color: white;
          background-color: #cacaca; }
